In [2]:
import pandas as pd

In [4]:
s = pd.Series(list('asasdasdsadsadasdas'))
s

0     a
1     s
2     a
3     s
4     d
5     a
6     s
7     d
8     s
9     a
10    d
11    s
12    a
13    d
14    a
15    s
16    d
17    a
18    s
dtype: object

In [6]:
s.unique()

array(['a', 's', 'd'], dtype=object)

In [8]:
s.value_counts()

s    7
a    7
d    5
dtype: int64

In [9]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')

In [10]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [11]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64